.btn-success{
    color: white;
}
.dropdown-menu{
    background-color:white;
    border-color: white;
    margin: 0;
}
.no-space{
    padding: 0;
    margin-top: 10px;
    margin-left: -30px;
    width: 30px;
    border-radius: 25px;
}
.inner-space{
    width: 100%;
    border-radius: 20px;
    margin-top: 5px;
}
.wide{
    width: 150%;
    margin-left: -140px;
}
.container-box {
    width: 35%;
    background-color:#E5E4E2;
    outline: solid 2px lightgrey;
    border-radius: 10px;}
.form-control{
    outline: solid 1px ;
}